<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-controllers.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .message {
            font-size: 1.3em;
            font-weight: bold;

        }
    </style>
</head>

<body ng-controller="LunchCheckController">
<div class="container">
    <h1>Lunch Checker</h1>
    <h4>We do NOT consider an empty item</h4>
    <div class="form-group">
        <input type="text" ng-style="{'border-color': bordercolor}"
               placeholder="list comma separated dishes you usually have for lunch"
               class="form-control" ng-model="items">
    </div>
    <div class="form-group">
        <button class="btn btn-default" ng-click="check_items_number()">Check If Too Much</button>
    </div>
    <div class="form-group message">
        <p ng-style="{'color': color}">{{message}}</p>
    </div>
</div>

</body>
</html>
