<p>0000000000000000000</p>
<table class="table table-striped" ng-if="Items.foundItems.length != 0">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Short name</th>
        <th scope="col">Description</th>
        <th scope="col">---</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in Items.foundItems">
        <th>{{item.name }}</th>
        <td>{{item.short_name}}</td>
        <td>{{item.description}}</td>
        <td>
            <button class="btn btn-primary">Don't want this one!</button>
        </td>
    </tr>

    </tbody>
</table>

<!--<li ng-repeat="item in Items.foundItems">-->
<!--    {{item.name}}-->
<!--</li>-->
