<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
<head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Directives with Isolate Scope and '&'</title>
</head>
<body>
<h1>Directives with Isolate Scope and '&'</h1>

<!-- LIST #1 - unlimited items -->
<div id="list" ng-controller='ShoppingListController as list'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>
<!--    <div class="form-group">-->
<!--        <input type="text" placeholder="search term" ng-model="list.searchTerm" class="form-control">-->
<!--    </div>-->
    <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="list.getMatchedMenuItems()">Narrow It
            Down For Me!
        </button>
    </div>

    <shopping-list itemss="list.items" on-remove="list.removeItem(index)"></shopping-list>

</div>

</body>
</html>
