<p>Test2</p>
<table class="table table-striped" ng-if="list.foundItems.length != 0">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Short name</th>
        <th scope="col">Description</th>
        <th scope="col">---</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list.foundItems">
        <th>{{item.name }}</th>
        <td>{{item.short_name}}</td>
        <td>{{item.description}}</td>
        <td>

            <button ng-click="list.onRemove({idx: $index})">Don't want this one!</button>
        </td>
    </tr>

    </tbody>
</table>